@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Syne&display=swap);
.nav {
  position: sticky;
  top: 0;
  z-index: 2;
}
.logo {
  color: #fff;
  font-family: "Syne", sans-serif;
}
.ham {
  position: sticky;
  top: 0;
  z-index: 2;
  display: none;
}
.darkMode {
  /* dark mode */
  background-color: #10101a;
  color: #8892b0;
  font-family: "Inter", sans-serif;
}
.LightMode {
  /* light mode */
  background-color: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  font-family: "Syne", sans-serif;
  /* font-family: "Space Grotesk", sans-serif; */
  /* color: #000; */
  font-weight: 800;
  font-size: 30px;
}

.animateText {
  font-weight: 800;
  background: #000;
  -webkit-text-fill-color: transparent;
  animation: colors 10s linear infinite;
}
@keyframes colors {
  0% {
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    -webkit-background-clip: text;
  }

  25% {
    background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    -webkit-background-clip: text;
  }

  75% {
    background: linear-gradient(to right, #e96443, #904e95);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(
      109.6deg,
      rgba(61, 245, 167, 1) 11.2%,
      rgba(9, 111, 224, 1) 91.1%
    );
    -webkit-background-clip: text;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
  .ham {
    display: block;
  }
}

.hamNav {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}
